include templates/head.pug

	<main>

	<section>
		<h1>Profiel</h1>
		<p>Personaliseer je profiel.</p>
	</section>


	<section id="profiel">
		<img src="images/pexels-photo-220453.jpeg">
		<ul>
			<li>#{name}</li>
			<li>#{age} jaar</li>
		</ul>
		<a class="button" href="changeinfo">Aanpassen</a>
	</section>

	<section id="movies">
		<h2>Favorieten films</h2>

		ul
			each val in favoritemovies
				li
					img(src=src='images/' + val + '.jpg', alt=val)

		<a class="button" href="changemovie">Aanpassen</a>

	</section>	
	

		
	</main>

include templates/foot.pug