/*Algemeen*/
body{
	margin: 10vw;
	    font-family: 'Open Sans', sans-serif;
}


main{
	display: flex;
	align-items: center;
	flex-direction: column;
	align-items: baseline;
	gap: 1em;
}

ul {
    list-style: none;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.4em;
}

p {
    font-size: 0.8em;
}

a.button, #match a, #chat a{
    text-decoration: none;
    color: black;
}

/*navigatie*/
nav {
    position: fixed;
    border-top: 1px solid;
    width: 100vw;
    height: 10vh;
    bottom: 0;
    left: 0;
        display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 1em;
        background-color: white;
}

nav a {
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: black;
        gap: 0.2em;
    display: flex;
    flex-direction: column;
                align-items: center;
}

nav .current, nav .current a:before{
    filter: invert(25%) sepia(46%) saturate(2307%) hue-rotate(332deg) brightness(107%) contrast(106%);


}


nav a:first-child:before{
     background-image: url("../images/chat.png");
}

nav a:nth-child(2):before{
    background-image: url("../images/hart.png");
}

nav a:nth-child(3):before{
    background-image: url("../images/user.png");
}

nav a:before{
	content: " ";
	    display: flex;
    flex-direction: column;
    text-align: center;
    height: 1.4em;
    width: 1.4em;
    background-size: cover;
    background-position: center;
}


#acount {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.button {
    border: 1px solid;
    padding: 0.5em 1.5em;
    border-radius: 0.7em;
        min-width: 100px;
    text-align: center;
}

/*Films zoeken*/
input[type="ss"] {
    padding: 10px;
}


/*Films toevoegen*/

#movies ul {
    display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      padding: 0;
          gap: 1em;
}

#movies li {
    place-self: center;
    position: relative;
}

#movies li img {
    width: 100%;
}

#movies li:hover img{
	  -webkit-filter: brightness(50%);
}

#movies li a:hover:after {
    content: "+";
    position: absolute;
    color: white;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    -webkit-filter: brightness(100%);
    font-size: 5em;
}


/*Matches zien*/
#match{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#match section {
       display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr)minmax(0, 0.8fr);
      padding: 0;
        gap: 0.5em;
            align-items: center;
                justify-items: center;
}

#match section img:first-child {
    width: 100%;
        border: 1px solid black;
        border-radius: 50%;
}


#match section img:last-child {
    width: 100%;
}

#match ul {
    padding: 0px;
    font-size: 14px;
        justify-self: baseline;
    margin: 1em;
}


#match ul li:first-child {
    font-weight: 900;
}

#match section p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    border-left: 1px solid;
    width: 100%;
}

/*chat*/
#chat{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#chat section {
       display: grid;
  grid-template-columns: minmax(0, 1.5fr) minmax(0, 2fr)minmax(0, 0.6fr);
      padding: 0;
        gap: 0.5em;
            align-items: center;
                justify-items: center;
}

#chat section img:first-child {
    width: 100%;
        border: 1px solid black;
        border-radius: 50%;
}


#chat section img:last-child {
    width: 100%;
}

#chat ul {
    padding: 0px;
    font-size: 14px;
        justify-self: baseline;
    margin: 1em;
}


#chat ul li:first-child {
    font-weight: 900;
}

#chat section p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 16px;
    border-left: 1px solid;
    width: 100%;
}

/*profiel*/
#profiel {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap :1em;
        align-items: center;
}

#profiel img {
    width: 100%;
    border-radius: 50%;
}