/*Algemeen*/
body{
	margin: 10vw;
	    font-family: 'Open Sans', sans-serif;
}


main{
	display: flex;
	align-items: center;
	flex-direction: column;
	align-items: baseline;
	gap: 1em;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    font-weight: 400;
    font-size: 1.4em;
}

p {
    font-size: 0.8em;
}

a.button {
    text-decoration: none;
    color: black;
}

/*navigatie*/
nav {
    position: fixed;
    border-top: 1px solid;
    width: 100vw;
    height: 10vh;
    bottom: 0;
    left: 0;
        display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    gap: 1em;
        background-color: white;
}

nav a {
    align-self: center;
    justify-self: center;
    text-decoration: none;
    color: black;
        gap: 0.2em;
    display: flex;
    flex-direction: column;
                align-items: center;
}

nav .current, nav .current a:before{
	color: red;
	fill: red;
}


nav a:first-child:before{
	content:url('../images/film.svg');
}

nav a:nth-child(2):before{
	content:url('../images/heart.svg');
}

nav a:nth-child(3):before{
	content:url('../images/user.svg');
}

nav a:before{
	/*content: "+";*/
	    display: flex;
    flex-direction: column;
    text-align: center;
    width: 1em;
    height: 1em;
}


#acount {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.button {
    border: 1px solid;
    padding: 0.5em 1.5em;
    border-radius: 0.7em;
        min-width: 100px;
    text-align: center;
}

/*Films zoeken*/
input[type="ss"] {
    padding: 10px;
}


/*Films toevoegen*/

#movies ul {
    display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      padding: 0;
          gap: 1em;
}

#movies li {
    list-style: none;
    place-self: center;
    position: relative;
}

#movies li img {
    width: 100%;
}

#movies li:hover img{
	  -webkit-filter: brightness(50%);
}

#movies li a:hover:after {
    content: "+";
    position: absolute;
    color: white;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%); 
    -webkit-filter: brightness(100%);
    font-size: 5em;
}


/*Matches zien*/
ol {
	padding: 0px;
    gap: 3em;
    display: flex;
    flex-direction: column;
}

#match li {
       display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      padding: 0;
          gap: 3em;
}

#match li img {
    width: 100%;
}

#match li a:first-child img {
    border-radius: 50%;
}

/*profiel*/
#profiel {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap :1em;
        align-items: center;
}

#profiel img {
    width: 100%;
    border-radius: 50%;
}