<section id="movies">
	<h2>Aanbevolen films</h2>

	<ul>
		<li>
			<a href="/">
			<img src="images/Beautiful-mind.jpg" alt="Beautiful mind">
			</a>
		</li>
		<li>
			<a href="/movies/test/">
			<img src="images/Forrest-gump.png" alt="Forrest gump">
			</a>
		</li>
		<li>
			<a href="/movies/test/">
			<img src="images/Inception.jpg" alt="Inception">
			</a>
		</li>
		<li>
			<a href="/movies/test/">
			<img src="images/I-robot.jpg" alt="I robot">
			</a>
		</li>
		<li>
			<a href="/movies/test/">
			<img src="images/Lucy.jpg" alt="Lucy">
			</a>
		</li>
		<li>
			<a href="/movies/test/">
			<img src="images/Spirited-away.jpg" alt="Spirited away">
			</a>
		</li>
	</ul>

</section>